@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), local('Roboto Slab Regular'),
    local('RobotoSlab-Regular'), url('RobotoSlab-Regular.woff2') format('woff2'),
    url('RobotoSlab-Regular.ttf') format('truetype'),
    url('RobotoSlab-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
    url('RobotoSlab-Bold.woff2') format('woff2'),
    url('RobotoSlab-Bold.ttf') format('truetype'),
    url('RobotoSlab-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
